
body {
  background-color: #000;
}

.container {
  padding: 2em;
  font-family: VT323, sans-serif;
  text-align: center;
}

.usage {
  color: #fff;
  font-size: 20px;
}
a.key {
  border: 1px solid #ccc;
  padding: 0 5px;
  display: inline-block;
  margin: 3px 2px;
  background: #e3e3e3;
  border-radius: 4px;
  color: #000;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 10px solid #6a0ff2;
}

.header {
  text-shadow: 0 0 5px #6a0ff2, 0 0 15px #6a0ff2, 0 0 25px #6a0ff2, 0 0 20px #6a0ff2, 0 0 30px #6a0ff2, 0 0 80px #6a0ff2, 0 0 80px #6a0ff2;
  color: #e30784;
  text-shadow: 0 0 5px #6a0ff2, 0 0 15px #6a0ff2, 0 0 25px #6a0ff2, 0 0 20px #6a0ff2, 0 0 30px #ff0000, 0 0 80px #ff8d00, 0 0 80px #ff0000;
  color: #fcb6de;
  text-align: center;
  font-size: 80px;
}